@import "vars";
@import "mixins";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /*font-family: 'SF UI Display Bold';*/
  /*font-family: 'SF UI Display Medium';*/
  font-family: 'SF UI Display Regular';
  font-weight: 400;
  @include adaptiv-font(16, 14);
  line-height: 1.44em;
  letter-spacing: 0.070em;
  color: $main-font-color;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  max-width: 1250px;
  padding: 0 5px;
  width: 100%;
  margin: 0 auto;
}


.default-btn {
  font-family: 'SF UI Display Bold';
  font-weight: 700;
  line-height: 1.65em;
  @include adaptiv-font(14, 12);
  letter-spacing: 0.140em;
  color: $btn-title-color;
  text-transform: uppercase;

  a {
    padding: 16px 38px 16px 30px;
    box-shadow: 2.736px 7.518px 56.64px 2.36px rgba(82, 208, 226, 0.34);
    background-color: $btn-bg-color;
    border-radius: 2em;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      box-shadow: 2.736px 7.518px 56.64px 2.36px rgba(82, 208, 226, 0.64);
    }
  }
}

.price-shoecover__btn,
.price-antiseptic__btn,
.shoecover-certificate__btn,
.manual__btn,
.footer__btn {
  a {
    padding: 16px 36px 13px 38px;
  }
}

.default-title {
  font-family: 'SF UI Display Bold';
  font-weight: 700;
  line-height: 1.22em;
  @include adaptiv-font(45, 20);
  letter-spacing: 0.050em;
  color: $def-title-color;
}

.form__btn {
  font-family: 'SF UI Display Bold';
  font-weight: 700;
  line-height: 1.65em;
  @include adaptiv-font(14, 12);
  letter-spacing: 0.140em;
  color: $btn-title-color;
  text-transform: uppercase;
  padding: 14px 41px 13px;
  box-shadow: 2.736px 7.518px 56.64px 2.36px rgba(82, 208, 226, 0.34);
  background-color: $btn-bg-color;
  border-radius: 2em;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    box-shadow: 2.736px 7.518px 56.64px 2.36px rgba(82, 208, 226, 0.64);
  }
}

.content__item-btn,
.description__content-btn,
.related__item-btn {
  a {
    padding: 15px 60px 15px 25px;
    position: relative;
    @include adaptiv-font(14, 12);
    cursor: pointer;

    &::before {
      position: absolute;
      font-family: Flaticon;
      content: "\f109";
      color: $icon-color;
      @include adaptiv-font(20, 16);
      right: 16px;
      top: 53%;
      transform: translateY(-50%);
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      width: 36.49px;
      height: 36.49px;
      background-color: #D4EEF6;
      border-radius: 50%;
    }

    &:hover {
      box-shadow: 2.736px 7.518px 56.64px 2.36px rgba(82, 208, 226, 0.64);
    }
  }
}

.description__content-btn {
  a {
    padding: 15px 60px 15px 25px;
  }
}

.content__advert-title,
.description__content-title {
  font-family: 'SF UI Display Bold';
  font-weight: 700;
  line-height: 1.37em;
  @include adaptiv-font(30, 25);
  letter-spacing: 0.050em;
  color: $main-font-color;
}

.content__items,
.related__items {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 15px;
  width: 100.7%;

  .content__item,
  .related__item {
    padding: 50px 38px 38px;
    background-color: $main-bg-color;
    border-radius: 15px;
  }

  .content__item-title,
  .related__item-title {
    font-family: 'SF UI Display Bold';
    font-weight: 700;
    line-height: 1.4em;
    @include adaptiv-font(20, 16);
    letter-spacing: 0.025em;
    padding: 19px 0 8px;
  }

  .content__item-amount,
  .related__item-amount {
    font-family: 'SF UI Display Regular';
    font-weight: 400;
    @include adaptiv-font(16, 12);
    line-height: 2.0625em;
    padding-bottom: 15px;
  }
}


/*---------increment----decrement--------------*/
.quantity {
  position: relative;
  max-width: 100%;
  width: 100%;

  input {
    width: 100%;
    border-radius: 2em;
    outline: none;
    border: none;
    padding: 11px 32px 11px 16px;
    font-family: 'SF UI Display Bold';
    font-weight: 700;
    line-height: 0;
    @include adaptiv-font(18, 14);
    color: $def-title-color;
    letter-spacing: 0.035em;
  }
}

.increment-decrement__btn {
  display: block;
  max-width: 38px;
  width: 100%;
  min-height: 52px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;

  &:hover {
    .increment,
    .decrement {
      display: block;
    }
  }
}

.increment,
.decrement {
  display: none;
  background-color: $incr-decr-btn-bg;
  padding: 1px 0 1px 8px;

  img {
    max-width: 16px;
    width: 100%;
  }
}

.increment {
  border-top-right-radius: 2em;
}

.decrement {
  border-bottom-right-radius: 2em;

  img {
    transform: rotate(180deg);
  }
}

/*-----login-popup-----*/
/*-----password-recovery-----*/
.login-popup,
.password-recovery {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 20, 27, 0.302);
  top: 0;
  left: 0;
  z-index: 900;
  padding: 20px;

  opacity: 0;
  visibility: hidden;

  overflow-y: auto;
  overflow-x: hidden;

  transition: all .3s;
}

.password-recovery {
  text-align: center;
}

.login-popup__open,
.password-recovery__open {
  opacity: 1;
  visibility: visible;
}

.login-popup__body,
.password-recovery__body {
  max-width: 495px;
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 999;
}

.login-popup__container,
.password-recovery__container {
  max-width: 355px;
  width: 100%;
  margin: 0 auto;
}

.login-popup__title-box,
.password-recovery__title-box {
  padding: 32px 0 30px;
  background-color: #a79edc;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  font-family: 'SF UI Display Bold';
  font-weight: 700;
  font-size: 27px;
  line-height: 1.3em;
  letter-spacing: 0.042em;
  color: #ffffff;
}

.login-popup__title {
  position: relative;
  padding-left: 60px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);

    background-image: url('../img/login-icon.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;

    width: 31px;
    height: 31px;
  }
}

.login-popup__form,
.password-recovery__inner {
  background-color: #f3eff5;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.login-popup__form {
  padding: 49px 0;
}

.password-recovery__inner {
  padding: 45px 0 55px;
}

.login-popup__form-inner,
.password-recovery__info {
  margin-bottom: 41px;
}

.password-recovery__form-inner {
  margin-bottom: 30px;
}

.login-popup__login {
  margin-bottom: 24px;
}

.login-popup__password {
  margin-bottom: 21px;
}

.login-popup__login,
.login-popup__password,
.password-recovery__e-mail {
  position: relative;

  label,
  input {
    display: block;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 2em;
  }

  label {
    font-family: 'SFUIDisplay-Light';
    font-weight: 300;
    color: $grey-font-color;
    padding-left: 18px;
    margin-bottom: 10px;

  }

  input {
    font-family: 'SF UI Display Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.34em;
    color: $grey-font-color;
    padding: 13.34px 25px;
  }

  .input-clear__btn {
    position: absolute;
    right: 20px;
    top: 57%;
  }
}

.login-popup__remember {
  display: flex;
  justify-content: space-between;
  font-family: 'SFUIDisplay-Light';
  font-weight: 300;
  font-size: 12px;
  line-height: 1.67em;
}

.login-popup__remember-group {
  color: #a4a4a4;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  .remember__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
  }

  .remember__label {
    cursor: pointer;
    padding-left: 18px;

    &:before {
      content: '';
      display: block;
      width: 13px;
      height: 13px;

      border: 1px solid rgb(198, 198, 198);
      border-radius: 2px;

      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      z-index: 1;
    }

    &:after {
      content: '';
      display: block;

      background-color: transparent;

      opacity: 0;
      transition: opacity .1s;

      position: absolute;
      top: 50%;
      left: 1px;
      transform: translate(0, -50%);
      z-index: 2;
    }

  }
}

.remember__input:checked + .remember__label:before {
  background-color: #00CEE8;
  border: 2px solid #00CEE8;
}

.remember__input:checked + .remember__label:after {
  opacity: 1;

  font-family: "Flaticon";
  content: "\f10a";
  color: #ffffff;
  font-size: 10px;
}

.login-popup__remember_forget {
  color: #75bec9;

  &:hover {
    /*----------underline------------*/
    background: 0 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #75bec9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=transparent, endColorstr=#75bec9, GradientType=0);
    background-repeat: repeat-x;
    background-position: 0 90%;
    background-size: 1px 1px;
    text-decoration: none;
  }
}

.login-popup__btn-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.login-popup__btn-login {
  padding: 14px 50.47px 13px;

  &:hover {
    box-shadow: 2.736px 7.518px 56.64px 2.36px rgba(82, 208, 226, 0.64);
  }
}

.login-popup__btn-registration {
  a {
    color: #54d9ec;
    padding: 12.84px 29.5px;
    background-color: transparent;
    border: 2px solid #54d9ec;

    &:hover {
      box-shadow: 2.736px 7.518px 56.64px 2.36px rgba(82, 208, 226, 0.64);
    }
  }
}

.password-recovery__btn {
  padding: 14.17px 27.8px;

  &:hover {
    box-shadow: 2.736px 7.518px 56.64px 2.36px rgba(82, 208, 226, 0.64);
  }
}

.login-popup__info {
  font-family: 'SFUIDisplay-Light';
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5em;
  color: #b8b7b7;
}

.password-recovery__info {
  font-size: 16px;
  line-height: 1.5em;
  color: $grey-font-color;
}

.feedback-popup__form_captcha {
  width: 304px;
  height: 78px;
}

.g-recaptcha {
  width: 304px;
  height: 78px;
}

/*---autofill---*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none !important;
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
  transition: background-color 5000s ease-in-out 0s;

}


/*  swim-block  */
.swim-block {
  position: -webkit-sticky;
  position: sticky;
  float: right;
  top: 0;
  right: 0;

  max-width: 357px;
  width: 100%;
}

.swim-block__title-box {
  padding: 31px 0 34px;
  background-color: rgb(163, 157, 217);

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  color: #ffffff;
}

.swim-block__container {
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
}

.swim-block__title-box_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swim-block__title {
  font-family: 'SF UI Display Bold';
  font-weight: 700;
  font-size: 20px;
  letter-spacing: .042em;
}

.change-btn {
  font-family: 'SFUIDisplay-Light';
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5em;
}

.swim-block__content {
  padding: 63px 0 41px;

  background-color: rgba(246, 244, 248, .8);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.swim-block__content-inner {
  padding-bottom: 55px;

  max-width: 322px;
  width: 100%;
  border-bottom: 1px solid rgb(230, 221, 234);
  margin: 0 auto;
}

.swim-block__goods-sum,
.swim-block__goods-tax,
.swim-block__goods-delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: 'SFUIDisplay-Light';
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .045em;
  color: $grey-font-color;

  .sum-box,
  .tax,
  .delivery-price {
    font-family: 'SF UI Display Medium';
    font-weight: 500;
  }
}

.swim-block__goods-sum,
.swim-block__goods-tax {
  margin-bottom: 30px;
}

.swim-block__content-total {
  padding: 35px 0 0;
}

.swim-block__content-total_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: 'SF UI Display Bold';
  font-weight: 700;
  font-size: 20px;
  letter-spacing: .042em;
}

.swim-block__total-text {
  color: #a2a1ac;
}

.total-sum-box {
  color: #7b798c;
}