@media (max-width: 1821px) {
  .sidebar {
    .sidebar__menu {
      padding-right: 4em;
    }
  }

  .form__left {
    padding-right: 5em;
  }
  .form__right .form__bg {
    width: 81%;
  }
}

@media (max-width: 1812px) {
  .form__left {
    padding-right: 5.1em;
  }
}

@media (max-width: 1700px) {
  .sidebar {
    .sidebar__menu {
      padding-right: 6em;
    }
  }
  .shoecover-certificate__image img {
    width: 24.74%;
  }

  .manual__description {
    padding-right: 9em;
  }
}

@media (max-width: 1606px) {
  .content .content__advert .content__advert-right .content__advert-bg {
    top: 10%;
    right: 6%;
    width: 93%;
  }

  .form__right .form__bg {
    width: 71%;
  }
}

@media (max-width: 1585px) {
  .price-shoecover__content {
    padding-bottom: 10em;
  }

  .price-shoecover__image img {
    width: 37.5%;
  }
}

@media (max-width: 1576px) {
  .sidebar {
    .sidebar__menu {
      padding-right: 7.5em;
    }
  }
}

@media (max-width: 1542px) {
  .manual__image {
    img {
      right: -2.39em;
      width: 60%;
    }

    .manual__pdf-about {
      right: 0;
    }
  }
}

@media (max-width: 1514px) {
  .sidebar {
    .sidebar__menu {
      padding-right: 8em;
    }
  }
  .content .content__advert .content__advert-right .content__advert-bg {
    width: 85%;
  }

  .manual__description {
    padding-right: 13em;
  }
}

@media (max-width: 1397px) {
  .sidebar {
    .sidebar__menu {
      padding-right: 11em;
    }
  }

  .form__right .form__bg {
    width: 65%;
  }
}

@media (max-width: 1391px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 3.0em;
    }
  }

  .content .content__advert .content__advert-right .content__advert-bg {
    top: 8%;
    right: 7%;
    width: 83%;
  }

  .shoecover-certificate__image img {
    left: 15.57em;
    width: 20.74%;
  }
}

@media (max-width: 1338px) {
  .manual__description {
    padding-right: 19em;
  }
}

@media (max-width: 1334px) {
  .content .content__advert .content__advert-left {
    padding-right: 10em;
  }
}

@media (max-width: 1298px) {
  .manual__image {
    img {
      right: 8.61em;
      width: 54%;
    }

    .manual__pdf-about {
      right: 11em;
    }
  }
}

@media (max-width: 1268px) {
  .sidebar {
    .sidebar__menu {
      padding-right: 13em;
    }
  }
  .content .content__advert .content__advert-right .content__advert-bg {
    top: 14%;
    right: 28%;
    width: 70%;
  }
}

@media (max-width: 1144px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 3em;
    }
  }
}

@media (max-width: 1024px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 2.3em;
    }
  }
  .content .content__advert .content__advert-right .content__advert-bg {
    top: 18%;
  }

  .footer__top .footer__top-contacts .footer__title {
    padding-right: 7em;
  }
}

@media (max-width: 1000px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 2.7em;
      padding-right: 12em;
    }
  }

  .content .content__advert .content__advert-left {
    padding-right: 8em;
  }
}

@media (max-width: 981px) {
  .footer__top .footer__top-contacts .footer__title {
    padding-right: 3em;
  }
}

@media (max-width: 896px) {
  .manual__description {
    padding-right: 16em;
  }
}

@media (max-width: 870px) {
  .sidebar {
    .sidebar__menu {
      padding-right: 11em;
    }
  }
}

@media (max-width: 811px) {
  .footer__top .footer__top-contacts .footer__title {
    padding-right: 0;
  }
}

@media (max-width: 803px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 3.0em;
      padding-top: 5em;
      padding-right: 10em;
    }
  }

  .content .content__advert .content__advert-left {
    padding-right: 6em;
  }
}

@media (max-width: 774px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 3.7em;
    }
  }
}

@media (max-width: 754px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 3.6em;
    }
  }
}

@media (max-width: 737px) {
  .manual__image {
    img {
      right: 3.61em;
    }

    .manual__pdf-about {
      right: 6em;
    }
  }
}

@media (max-width: 693px) {
  .manual__description {
    padding-right: 15em;
  }
}

@media (max-width: 665px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 3.5em;
      padding-right: 9em;
    }
  }

  .manual__description {
    padding-right: 13em;
  }
}

@media (max-width: 596px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 4.5em;
    }
  }
}

@media (max-width: 588px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 5.5em;
    }
  }
}

@media (max-width: 578px) {
  .sidebar {
    .sidebar__menu {
      padding-right: 8em;
    }
  }
}

@media (max-width: 560px) {
  .manual__description {
    padding-right: 11em;
  }
}

@media (max-width: 527px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 6.4em;
    }
  }

  .content .content__advert .content__advert-left {
    padding-right: 4em;
  }

  .content .content__advert .content__advert-right .content__advert-bg {
    top: 22%;
  }
}

@media (max-width: 516px) {
  .sidebar {
    .sidebar__menu {
      padding-right: 7em;
    }
  }

  .manual__content {
    padding-top: 2em;
  }
}

@media (max-width: 504px) {
  .manual__image {
    img {
      right: .61em;
    }

    .manual__pdf-about {
      right: 2em;
    }
  }
  .manual__content {
    width: 50%;
    padding-right: 2em;
  }
}

@media (max-width: 500px) {
  .price-shoecover__content {
    padding-right: 1em;
  }

  .price-shoecover__image img {
    width: 40.5%;
  }

  .manual__description {
    padding-right: 9em;
  }
}

@media (max-width: 480px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 5.9em;
    }
  }
  .price-shoecover__content {
    width: 60%;
    padding-right: 10em;
    padding-top: 12em;
  }

  .price-shoecover__image {
    width: 40%;
  }
}

@media (max-width: 465px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 6.0em;
      padding-right: 5em;
      padding-top: 6.3em;
    }
  }
}

@media (max-width: 463px) {
  .shoecover-certificate__content {
    padding-right: 11em;
  }

  .footer__top .footer__top-contacts .footer__title {
    padding-right: 3em;
  }
}

@media (max-width: 459px) {
  .price-shoecover__content {
    padding-right: 8em;
  }
}

@media (max-width: 455px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 5.8em;
    }
  }
}

@media (max-width: 446px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 5em;
    }
  }
}

@media (max-width: 442px) {
  .manual__image {
    img {
      right: 0;
    }

    .manual__pdf-about {
      right: 1em;
    }
  }
  .manual__content {
    padding-right: 0;
  }
}

@media (max-width: 430px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 4.5em;
    }
  }
  .content .content__advert .content__advert-left {
    padding-right: 2em;
  }

  .footer__top {
    .footer__top-contacts {
      width: 45%;
    }
    .footer__map {
      max-width: 55%;
    }

    .footer__top-contacts .footer__title {
      padding-right: 0;
    }
  }

}

@media (max-width: 426px) {
  .price-shoecover__content {
    padding-right: 6em;
  }

  .manual__description {
    padding-right: 7em;
  }
}

@media (max-width: 414px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 4.5em;
    }
  }
  .content .content__advert .content__advert-right .content__advert-bg {
    top: 26%;
  }

  .shoecover-certificate__content {
    padding-right: 8em;
  }
}

@media (max-width: 410px) {
  .sidebar {
    .sidebar__menu {
      padding-top: 6em;
      padding-bottom: 4em;
    }
  }
}

@media (max-width: 407px) {
  .manual__image {
    img {
      width: 50%;
    }
  }
  .manual__content {
    width: 60%;
  }
}

@media (max-width: 403px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 5.4em;
    }
  }
}

@media (max-width: 396px) {
  .price-shoecover__content {
    padding-right: 4em;
  }
}

@media (max-width: 390px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 4.7em;
      padding-right: 3em;
    }
  }
}

@media (max-width: 380px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 4.5em;
    }
  }

  .manual__description {
    padding-right: 6em;
  }
}

@media (max-width: 370px) {
  .header__content {
    padding-right: 0;
  }

  .header__phone {
    padding-right: 0;
    padding-top: 0;
  }

  .header__profile {
    .header__profile-login {
      padding-right: 0.1em;
    }

    .header__profile-registration {
      padding-left: 0.7em;
    }
  }
  .sidebar {
    .sidebar__menu {
      padding-bottom: 3.7em;
      padding-right: 4em;
    }
  }

  .shoecover-certificate__content {
    padding-right: 5em;
  }
}

@media (max-width: 356px) {
  .manual__image {
    img {
      width: 45%;
    }
  }
  .manual__content {
    width: 70%;
  }
}

@media (max-width: 349px) {
  .manual__description {
    padding-right: 4em;
  }
}

@media (max-width: 345px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 3em;
    }
  }

  .content .content__advert .content__advert-left {
    padding-right: 1em;
  }
}

@media (max-width: 342px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 4em;
      padding-right: 1em;
    }
  }
}

@media (max-width: 330px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 3.4em;
    }
  }
}

@media (max-width: 320px) {
  .sidebar {
    .sidebar__menu {
      padding-bottom: 3.5em;
    }
  }

  .form__left {
    padding-right: 0.1em;
  }

  .form__right .form__bg {
    width: 95%;
  }
}