$main-font-color: rgb(98, 94, 128);
$main-bg-color: #F7F4F8;
$icon-color: #00CEE8;
$btn-title-color: #FFFFFF;
$btn-bg-color: #00CEE8;
$def-title-color: #625e80;
$grey-font-color: #787878;
$footer-contacts-color: #4a4665;
$incr-decr-btn-bg:#B8B8E5;