@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "mixins";

/*---------header-----------*/
.header {
  width: 100%;
  background-color: #E5F0F7;
  z-index: 1000;
}

.header__content,
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 28px 32px 0;
}

.footer__content {
  align-items: start;
}

.header__logo,
.footer__logo,
.description__content-info-logo {
  font-family: 'SF UI Display Bold';
  font-weight: 700;
  @include adaptiv-font(30, 22);
  letter-spacing: -1px;
  //line-height: 1.37;
  color: $main-font-color;

  a {
    padding-left: 60px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../img/logo-icon.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 53px;
      height: 53px;
      left: 0;
      top: 42%;
      transform: translateY(-50%);
    }
  }
}

.header__address,
.footer__address {
  font-family: 'SF UI Display Medium';
  font-weight: 500;
  @include adaptiv-font(16, 12);
  letter-spacing: 0.070em;
  color: $main-font-color;
  padding-left: 43px;
  padding-right: 0.1%;
  position: relative;

  &::before {
    position: absolute;
    font-family: "Flaticon";
    content: "\f107";
    color: $icon-color;
    @include adaptiv-font(29, 25);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.header__phone,
.footer__phone {
  font-family: 'SF UI Display Bold';
  font-weight: 700;
  @include adaptiv-font(20, 16);
  //line-height: 4.75em;
  letter-spacing: 0.070em;
  color: #4a4665;
  position: relative;
  padding: 2px 21px 0 53px;

  &::before {
    position: absolute;
    font-family: "Flaticon";
    content: "\f106";
    color: $icon-color;
    @include adaptiv-font(29, 29);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  img {
    display: none;
  }
}

.header__profile,
.footer__profile {
  .header__profile-login,
  .header__profile-registration,
  .footer__profile-login,
  .footer__profile-registration {
    display: inline-block;
    font-family: 'SF UI Display Bold';
    font-weight: 700;
    @include adaptiv-font(14, 12);
    //line-height: 1.6329em;
    letter-spacing: 0.070em;
    color: $main-font-color;
    text-transform: uppercase;
    cursor: pointer;
  }

  .header__profile-login,
  .footer__profile-login {
    padding-right: 16px;
  }

  .header__profile-registration,
  .footer__profile-registration {
    padding-left: 19px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: #A79EDC;
      width: 1px;
      height: 12px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.header__profile-mobile,
.header__btn-box {
  display: none;
}

.menu-burger__btn,
.menu-burger {
  display: none;
}

/*--------main---------*/
.main {
  padding-top: 21px;
}

.main__wrapper {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 31.21% 67.2%;
  grid-auto-rows: 5.6em 51em;
  grid-template-areas: "sidebar  nav" "sidebar     content";

  .sidebar {
    grid-area: sidebar;
  }

  .menu {
    grid-area: nav;
  }

  .content {
    grid-area: content;
  }
}

.sidebar {
  .sidebar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'SF UI Display Medium';
    font-weight: 500;
    @include adaptiv-font(18, 14);
    line-height: 1.28em;
    letter-spacing: 0.070em;
    color: $main-font-color;
    background-color: #F3EFF5;
    padding: 27px 97px 31px 49px;
    border-radius: 15px;
    z-index: 10;
    position: relative;

    .sidebar__bar {
      width: 32px;
      /*height: 26px;????*/

      div {
        display: block;
        width: 23px;
        height: 4px;
        background-color: #A79EDC;
      }

      div:first-child {
        width: 32px;
        margin-bottom: 7px;
      }

      div:last-child {
        width: 32px;
        margin-top: 7px;
      }
    }
  }

  .sidebar__menu {
    padding: 87px 25px 54px 43px;
    border-radius: 15px;
    background-color: $main-bg-color;
    position: relative;
    top: -19px;
    //height: 94.5%;

    ul {
      li + li {
        padding-top: 45px;
      }

      li:last-child {
        padding-top: 29px;
      }

      a {
        padding-left: 62px;
        font-family: 'SF UI Display Medium';
        font-weight: 500;
        color: $main-font-color;
        position: relative;

        img {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 38px;
        }
      }

      li:nth-child(2) {
        img {
          left: -3px;
          width: 46px;
          top: 47.5%;
        }
      }

      li:nth-child(3) {
        img {
          left: -7px;
          top: 35%;
          width: 52px;
        }
      }

      li:nth-child(4) {
        img {
          width: 36px;
          left: 2px;
          top: 43%;
        }
      }

      li:nth-child(5) {
        img {
          left: -3px;
          top: 52%;
          width: 52px;
        }
      }

      li:nth-child(6) {
        img {
          top: 52%;
          width: 37px;
        }
      }

      li:nth-child(7) {
        img {
          top: 61%;
        }
      }

      li:nth-child(8) {
        img {
          left: -4px;
          top: 50%;
          width: 45px;
        }
      }

      li:nth-child(9) {
        img {
          left: -5px;
          top: 52%;
          width: 49px;
        }
      }

      li:nth-child(10) {
        img {
          left: -5px;
          top: 53%;
          width: 52px;
        }
      }

      li:nth-child(11) {
        img {
          left: -3px;
          top: 57.8%;
          width: 42px;
        }
      }
    }
  }
}

.menu,
.footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 0;
  margin-right: -4px;

  ul {
    padding: 0 0 0 15px;

    li {
      display: inline-block;
    }

    li {
      padding: 0 8px 0 15px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        background-color: #A79EDC;
        width: 1px;
        height: 12px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &:first-child {
        padding-left: 0;

        &::before {
          display: none;
        }
      }

      &:last-child {
        padding-right: 0;
      }
    }

    a {
      font-family: 'SF UI Display Medium';
      font-weight: 500;
    }
  }
}

.menu-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__like,
.menu__bar,
.menu__basket {
  position: relative;

  &::before {
    position: absolute;
    content: '';

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 0;
    top: 0;
  }

  span {
    display: inline-block;
    //position: absolute;
    text-align: center;
    font-family: 'SF UI Display Bold';
    font-weight: 700;
    line-height: 1.53em;
    @include adaptiv-font(14, 14);
    letter-spacing: 0.150em;
    color: $icon-color;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #E5F0F7;
    padding-top: 14%;


  }
}

.menu__basket {
  padding: 0 0 0 45px;

  &::before {
    background-image: url('../img/wheelbarrow.png');
    width: 35px;
    height: 32px;
  }
}

.menu__like {
  margin-right: 26px;
  padding: 0 0 0 42px;

  &::before {
    background-image: url('../img/heart.png');
    width: 33px;
    height: 30px;
  }
}

.menu__bar {
  margin-right: 26px;
  padding: 0 0 0 33px;

  &::before {
    background-image: url('../img/bar.png');
    width: 23px;
    height: 30px;
  }
}


/*-------search form-------*/
.search-bar {
  position: relative;
  margin-right: 40px;
  padding-right: 33px;
  background: transparent;
  height: 33px;

  form {
    max-width: 338px;
    width: 100%;
  }

  input {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  .search-bar__input {
    position: absolute;
    z-index: 2;
    top: -5px;
    right: -25px;
    width: 0;
    height: 0;
    border: none;
    outline: none;
    background-color: $main-bg-color;
    color: $main-font-color;
    font-size: 18px;
    font-family: 'SF UI Display Regular';
    font-weight: 400;
    border-radius: 25px;
    transform: scaleX(0) translateX(0);
    transform-origin: 0 0;
    transition: width .5s;
  }

  .search-bar__submit {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    width: 33px;
    height: 33px;
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
  }

  .search-bar__icon {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33px;
    height: 33px;
    display: block;

    img {
      width: 33px;
      height: 33px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .search-bar__submit,
  .search-bar__icon {
    cursor: pointer;
  }

  .open-input {
    transform: scaleX(1) translateX(80%);
    width: 335px;
    height: 40px;
    padding: 10px 20px 10px 50px;

  }

}


/*-------------------------*/

.content {
  .content__wrapper {
    display: flex;
    flex-direction: column;
  }

  .content__advert {
    background-color: $main-bg-color;
    border-radius: 15px;
    display: flex;
    width: 100.7%;

    .content__advert-left {
      width: 50%;
      padding: 97px 50px 76px 78px;

      .content__advert-title {
        padding-bottom: 25px;
      }
    }

    .content__advert-right {
      width: 50%;
      position: relative;

      .content__advert-price {
        position: absolute;
        width: 160px;
        height: 160px;
        background-color: #a79edc;
        border-radius: 50%;
        top: 35px;
        left: 43px;
        text-align: center;
        padding-top: 31px;
        font-family: 'SF UI Display Regular';
        font-weight: 400;
        @include adaptiv-font(15, 12);
        letter-spacing: 0.070em;
        line-height: 1.86em;
        color: #FFFFFF;

        span {
          display: block;
          font-family: 'SF UI Display Bold';
          font-weight: 700;
          @include adaptiv-font(30, 18);
        }
      }

      .content__advert-bg {
        position: absolute;
        top: 48px;
        right: 34px;
      }
    }
  }
}

.content__item {
  width: 32.13%;

  img {
    max-width: 42%;
  }
}

/*----form--------*/
.form {
  padding: 181px 0 0 0;

  .form__inner {
    padding: 0 43px 0 41px;
  }
}

.form__title {
  text-align: center;
  padding: 0 0 48px 10px;
  @include adaptiv-font(45, 23);
}

.form__content {
  display: flex;
}

.form__left {
  width: 50.30%;
  background-color: #f6f3f7;
  padding: 66px 77px 74px 72px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  .form__left-title {
    font-family: 'SF UI Display Bold';
    font-weight: 700;
    line-height: 1.296em;
    @include adaptiv-font(27, 23);
    letter-spacing: 0.042em;
    color: $def-title-color;
    padding-bottom: 25px;
  }
}

.form__box {
  form {
    max-width: 338px;
    width: 100%;
  }

  select,
  input {
    border-radius: 50px;
    outline: none;
    border: none;
    font-family: 'SF UI Display Medium';
    font-weight: 500;
    @include adaptiv-font(16, 12);
    line-height: 1.625em;
    letter-spacing: 0.035em;
    color: $main-font-color;
  }

  .form__box-top,
  .form__box-bottom {
    width: 100%;
  }

  .form__box-top {
    margin-bottom: 16px;

    label {
      display: inline-block;
    }

    label:first-child {
      max-width: 224px;
      width: 100%;
    }

    label:last-child {
      max-width: 107px;
      width: 100%;

      input[placeholder='1500'] {
        width: 100%;
        padding: 11px 5px 11px 34px;
      }

      .increment,
      .decrement {
        display: none;
      }

      &:hover {
        .increment,
        .decrement {
          display: block;
          background-color: $incr-decr-btn-bg;
          padding: .101em 0 .101em .5em; /*!!!!!!!!*/

          img {
            max-width: 1em; /*!!!!!!!!!!!*/
            width: 100%;
          }
        }
      }

      .increment-decrement__btn {
        display: block;
        max-width: 2.375em; /*!!!!!!!!!!*/
        width: 100%;
        min-height: 3.25em; /*!!!!!!!!!!*/
      }
    }

    select {
      width: 100%;
      padding: 14px 47px 14px 30px;
    }
  }

  .form__box-bottom {
    margin-bottom: 29px;

    label {
      input {
        width: 100%;
        padding: 11px 34px 11px 34px;
      }
    }
  }

  span {
    display: block;
    padding: 0 0 6px 34px;
  }

  label:nth-child(2) {
    span {
      padding-left: 28px;
    }
  }
}

.form__right {
  width: 50%;
  background-color: #5ccdea;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;

  .form__bg {
    position: absolute;
    right: 0;
    top: 23px;
    width: 91%;
  }
}

/*-------price-shoecover---------*/
/*-------price-antiseptic---------*/
/*-------shoecover-certificate---------*/
/*-------manual---------*/
.price-shoecover {
  padding: 0 0 95px;
}

.shoecover-certificate {
  padding: 0 0 181px;
}

.price-shoecover__inner,
.price-antiseptic__inner,
.shoecover-certificate__inner,
.manual__inner {
  display: flex;
  position: relative;
}

.price-shoecover__content,
.price-shoecover__image,
.price-antiseptic__content,
.shoecover-certificate__image,
.shoecover-certificate__content {
  width: 50%;
}

.price-shoecover__content {
  padding: 293px 50px 15px 0;
}

.price-shoecover__title {
  padding-bottom: 27px;
}

.price-shoecover__description {
  color: $grey-font-color;
  padding: 0 130px 41px 0;
}

.price-shoecover__image {
  img {
    position: absolute;
    top: -18px;
    right: 29px;
    z-index: -100;
    width: 47.5%;
  }
}

.price-antiseptic {
  padding-bottom: 205px;
}

.price-antiseptic__image {
  width: 60.9%;
  padding-left: 14px;

  img {
    width: 100%;
  }
}

.price-antiseptic__content {
  padding: 122px 0 0 0;
}

.price-antiseptic__title {
  padding-bottom: 19px;
}

.price-antiseptic__description {
  color: $grey-font-color;
  padding: 0 212px 38px 2px;
}

.shoecover-certificate__image {
  width: 50.6%;

  img {
    position: absolute;
    left: 169px;
    width: 28.74%;
  }
}

.shoecover-certificate__content {
  width: 49.4%;
  padding: 55px 173px 76px 0;
}

.shoecover-certificate__title {
  padding-bottom: 27px;
}

.shoecover-certificate__description {
  padding: 0 175px 33px 0;
  color: #828094;
}

.manual {
  padding-bottom: 224px;
  overflow: hidden;
}

.manual__image {
  width: 50%;

  img,
  .manual__pdf-about {
    position: absolute;
    right: -181px;
    top: 26px;
    width: 71%;
  }

  .manual__pdf-about {
    position: absolute;
    right: -144px;
    top: 0;
    width: 148.2px;
    height: 148.2px;
    border-radius: 50%;
    background-color: #a79edc;
    color: #ffffff;
    text-align: center;
    padding: 48px 0 0 0;

    span {
      display: block;
      font-family: 'SF UI Display Regular';
      font-weight: 400;
      @include adaptiv-font(28, 20);
      line-height: 1.12em;
      letter-spacing: 0.050em;
    }
  }
}

.manual__content {
  width: 50%;
  padding: 112px 75px 80px 0;
}

.manual__title {
  padding-bottom: 25px;

  span {
    display: block;
    color: #21cde6;
  }
}

.manual__description {
  padding: 0 40px 34px 0;
}

/*----------------footer------------------*/
.footer__top {
  display: flex;
  padding-bottom: 144px;

  .footer__top-contacts {
    width: 36.85%;
    padding-top: 19px;

    .footer__title {
      padding: 0 153px 22px 0;
    }

    .footer__top-phone,
    .footer__top-address,
    .footer__top-time {
      position: relative;
    }

    .footer__top-phone {
      font-family: 'SF UI Display Bold';
      font-weight: 700;
      @include adaptiv-font(20, 16);
      line-height: 4.45em;
      letter-spacing: 0.070em;
      color: $footer-contacts-color;
      padding: 0 0 0 50px;
      margin-bottom: 11px;

      &::before {
        position: absolute;
        font-family: Flaticon;
        content: "\f106";
        @include adaptiv-font(28, 24);
        color: $icon-color;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    .footer__top-address {
      font-family: 'SF UI Display Medium';
      font-weight: 500;
      color: $def-title-color;
      padding: 0 0 0 42px;
      margin-bottom: 36px;

      &::before {
        position: absolute;
        font-family: Flaticon;
        content: "\f107";
        @include adaptiv-font(28, 24);
        color: $icon-color;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    .footer__top-time {
      font-family: 'SF UI Display Medium';
      font-weight: 500;
      color: #5b6065;
      padding: 0 0 0 45px;
      margin-bottom: 39px;

      &::before {
        position: absolute;
        font-family: Flaticon;
        content: "\f108";
        @include adaptiv-font(28, 24);
        color: $icon-color;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }

  .footer__map {
    max-width: 783px;
    width: 100%;
    min-height: 454px;
  }
}

.footer__content {
  padding: 0 0 59px 0;

  .footer__profile-registration {
    padding-left: 17px;
  }
}

.footer__copyrights {
  background-color: $main-bg-color;
  padding: 22px 0 28px;
  font-family: 'SF UI Display Regular';
  font-weight: 400;
  @include adaptiv-font(14, 10);
  line-height: 1.50em;
  letter-spacing: 0.068em;
  color: #8c899f;

  a {
    border-bottom: 1px solid #8c899f;

    &:first-child {
      margin-right: 37px;
    }
  }
}

.footer__copyrights_public-offer {
  display: inline-block;
  padding-left: 57px;
}

.footer__menu {
  padding: 0 0 38px 0;
  margin-right: 0;

  .footer__creators {
    font-family: 'SF UI Display Medium';
    font-weight: 500;

    a {
      color: #56d9ec;
    }
  }

  li + li {
    padding-right: .67em; /*!!!!!!!!!!!!!*/

    &:last-child {
      padding-right: 0;
    }
  }

  ul {
    padding: 0 0 0 0;

    li:first-child {
      padding-left: 0;
    }
  }
}

/*---------------------------------------------------------------------------*/
/*---------------------------index card styles-----------------------------------*/
/*---------main-menu-----------------*/
.main-menu {
  padding: 22px 0 40px;
  z-index: 1000;
  position: relative;
}

.main-menu__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $main-bg-color;
  border-radius: 15px;
  /*padding: 1.68em 1.64em 1.86em 3.12em;*/
}

.main-menu__catalog {
  max-width: 20.97%;
  width: 100%;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'SF UI Display Medium';
  font-weight: 500;
  @include adaptiv-font(18, 18);
  line-height: 1.28em;
  letter-spacing: 0.070em;
  color: $main-font-color;
  padding-left: 2em;
  background-color: $main-bg-color;
  position: relative;
  z-index: 100;
  border-radius: 1em;

  .main-menu__catalog-bar {
    width: 13%;

    div {
      display: block;
      width: 73.43%;
      height: 0.2223em;
      background-color: #A79EDC;
    }

    div:first-child {
      width: 102.18%;;
      margin-bottom: 22%;
    }

    div:last-child {
      width: 102.18%;;
      margin-top: 22%;
    }
  }
}

/*---------------------main-menu__inner---------------*/
.main-menu__inner {

  .sidebar {
    position: absolute;
    display: block;
    max-width: 500px;
    font-size: 18px;
    height: 0;
    top: -355px;

    .sidebar__menu {
      padding: 55px 86px 43px 60px;
      margin-top: 0;
      z-index: 10;
      transition: all .5s;
      top: 455px;
      transform: scaleY(0);
      transform-origin: 0 0;

      li:last-child {
        padding-top: 2.83em;
      }
    }

    .active {
      transform: scaleY(1);
      transition: all .3s;
    }
  }
}

.main-menu__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 79.03%;
  width: 100%;
  padding: 1.77em 1.64em 1.77em 0;

  ul {

    li {
      display: inline-block;
      padding: 0 .97em 0 1.75em;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        background-color: #A79EDC;
        width: .1em;
        height: .8em;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &:first-child {
        &::before {
          display: none;
        }
      }
    }

    a {
      font-family: 'SF UI Display Medium';
      font-weight: 500;
    }
  }

  .main-menu__basket {

    a {
      font-family: 'SF UI Display Medium';
      font-weight: 500;
      @include adaptiv-font(15, 11);
      letter-spacing: 0.140em;
      text-transform: uppercase;
      color: #84878c;
      padding: .2em 0.4em 0 4.47em;
      position: relative;

      &::before {
        position: absolute;
        font-family: Flaticon;
        сontent: "\f109";
        @include adaptiv-font(36, 32);
        line-height: 1.53em;
        left: 0;
        top: 62%;
        transform: translateY(-50%);
        color: $icon-color;
      }
    }

    .main-menu__basket-amount {
      font-family: 'SF UI Display Bold';
      font-weight: 700;
      line-height: 1.53em;
      @include adaptiv-font(15, 11);
      letter-spacing: 0.140em;
      color: $icon-color;
    }
  }
}

/*---------------breadcrumbs-------------------*/
.breadcrumbs {
  padding-bottom: 28px;
  position: relative;
  z-index: 0;

  .breadcrumbs__inner {
    li {
      display: inline-block;

      &:last-child {
        img {
          display: none;
        }
      }
    }

    li + li {
      padding-left: 19px;
    }

    a {
      position: relative;
      padding-right: 21px;
      color: #cac7dc;

      img {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        max-width: 8px;
        width: 100%;
      }
    }
  }
}

/*------------description---------------*/
.description {
  padding: 30px 0 17px;
}

.description__title-box {
  margin-bottom: 38px;
}

.description__inner {
  display: flex;
}

.description__img,
.description__content {
  max-width: 50%;
  width: 100%;
}

.description__img {
  text-align: center;
  background-color: #f2edf4;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  z-index: 0;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 575px;
    width: 100%;
  }

  .antiseptic__img {
    max-width: 227px;
    width: 100%;
  }

  .description__bg {
    position: absolute;
    width: 384px;
    height: 384px;
    border-radius: 50%;
    background-color: #a79edc;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}


.description__img-icon-like,
.description__img-icon-bar {
  width: 100%;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.description__img-icon-like {
  max-width: 23px;
  top: 83px;
  right: 30px;
}

.description__img-icon-bar {
  max-width: 18px;
  top: 122px;
  right: 34px;
}

.description__content {
  background-color: $main-bg-color;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.description__content-top {
  padding: 60px 27px 60px 114px;
  border-bottom: 1px solid rgb(202, 202, 208);
}


.description__content-info {
  display: flex;
  vertical-align: top;
  margin-bottom: 30px;

  .description__content-info-vendor-code,
  .description__content-info-rating {
    margin-right: 38px;
  }
}

.description__content-info-vendor-code {
  font-size: 14px;
  color: #c3c6c6;
}

.description__content-info-rating {

  .rating {
    overflow: hidden;
  }

  .rating-item {
    margin-right: 2px;

    &::before {
      font-family: "Flaticon";
      content: "\f104";
      font-size: 19px;
      cursor: pointer;
      color: #a79edc;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .rating-item-active {
    &::before {
      content: "\f105";
    }
  }
}

.description__content-info-logo {
  font-family: 'SF UI Display Bold';
  font-weight: 700;
  font-size: 14px;
  letter-spacing: .03em;

  a {
    padding-left: 33px;

    &::before {
      width: 29px;
      height: 28px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.description__content-price-top,
.description__content-price-bottom {
  display: flex;
  margin-bottom: 23px;

  .description__content-prise-item {
    max-width: 141px;
    width: 100%;
    margin-right: 23px;

    span {
      font-size: 20px;
      font-weight: 700;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.description__content-price-top {
  .description__content-prise-item {
    &:first-child {
      color: #afb4b5;
    }
  }
}

.description__content-price-bottom {
  margin-bottom: 50px;
}

.description__content-specification {
  color: $grey-font-color;
  line-height: 31px;
  display: block;
  padding-bottom: 33px;

  li {
    display: block;
    letter-spacing: -1ex;
    margin: 5px 0;
  }

  .description__content-specification-left {
    margin-right: -50%;
    width: 77%;
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
    letter-spacing: normal;

    &::after {
      content: '';
      display: inline-block;
      width: 100%;
      margin: 0 -99% 0 0;
      vertical-align: baseline;
      border-bottom: 1px dotted #888;
    }
  }

  .description__content-specification-right {
    display: inline-block;
    letter-spacing: normal;
    padding-left: 3px;
    margin-left: 50%;
    vertical-align: bottom;
  }
}


.description__content_btn-box {
  display: flex;
  justify-content: space-between;
  max-width: 302px;
  width: 100%;

  .quantity {
    max-width: 104px;
    width: 100%;

    input {
      padding: 14px 32px 13.5px;
    }
  }
}

.description__content-quantity {
  position: relative;
}

.description__content-delivery {
  padding: 58px 27px 60px 114px;
}

.description__content-delivery-title {
  font-family: 'SF UI Display Bold';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.65em;
  margin-bottom: 12px;

  span {
    color: #00CEE8;
  }
}

.description__content-delivery-companies {
  margin-bottom: 16px;

  li {
    font-size: 14px;
    line-height: 2em;

    img,
    div {
      display: inline;
    }

    img {
      margin-right: 15px;
    }

    span {
      font-family: 'SF UI Display Bold';
      font-weight: 700;
    }

    &:last-child {
      img {
        margin-right: 11px;
      }

      span {
        color: #00cee8;
      }
    }
  }
}

.description__content-delivery-details {
  font-size: 14px;
  line-height: 1.64em;
  color: #afb4b5;
}


/*---------details------------*/
.details {

}

.details__content {

}

.details__btn-list {
  max-width: 1011px;
  width: 100%;
  display: flex;
  white-space: nowrap;

  .details__btn-item {
    padding: 23px 36px;
    background-color: $main-bg-color;
    border-right: 1px solid rgb(212, 200, 224);
    letter-spacing: 0.060em;
    color: rgb(131, 129, 147);
    cursor: pointer;

    /*&:hover {
      background-color: #EEE6F3;
      color: rgb(98, 94, 128);
    }*/

    &:last-child {
      border: none;
      border-top-right-radius: 15px;
    }

    &:first-child {
      border-top-left-radius: 15px;
    }
  }

  .details__btn-item-active {
    background-color: #EEE6F3;
    color: rgb(98, 94, 128);
  }
}

.details__descr-list {
  width: 100%;
  padding: 59px 0 50px;
  color: #b0afb1;

  .details__descr-item {
    display: none;
  }

  .details__descr-item-active {
    display: block;
  }
}

.details__descr-text {
  max-width: 906px;
  width: 100%;
}

.details__descr-item_questions {
  padding-right: 74px;
}

.details__descr-item_questions-text {
  color: $grey-font-color;

  span {
    display: block;
  }
}

.details__descr-item_questions-form {
  padding: 55px 0 0;
}

.details__form-title {
  font-family: 'SF UI Display Bold';
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3em;
  letter-spacing: .05em;
  color: $def-title-color;
  margin-bottom: 20px;
}

.details__form-inner {
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-between;

  textarea,
  input {
    display: block;
    background-color: #f9f8f9;
    outline: none;
    border: none;
    font-family: 'SF UI Display Medium';
    font-weight: 500;
    color: $def-title-color;
    letter-spacing: .035em;
    line-height: 1.6em;
  }

  label {
    display: block;
  }

  span {
    display: block;
    margin-bottom: 6px;
  }
}

.details__form-inner-left {
  max-width: 443px;
  width: 100%;
  height: 253px;

  span {
    color: $grey-font-color;
  }

  label,
  textarea {
    width: 100%;
  }

  textarea {
    resize: none;
    padding: 15px;
    border-radius: 15px;
    height: 228px;
  }

}

.details__form-inner-center {
  max-width: 295px;
  width: 100%;

  span {
    color: #828094;
    line-height: 1.29em;
    padding-left: 34px;
  }

  input {
    padding: 15px 30px 15.67px 34px;
    border-radius: 25px;
    width: 100%;
    line-height: 1;
  }

  input[name='name'] {
    max-width: 169px;
    margin-bottom: 13px;
  }

  input[name='phone'] {
    max-width: 222px;
    margin-bottom: 13px;
  }
}

.details__form-inner-right {
  max-width: 315px;
  width: 100%;

  .details__form-recaptcha-title {
    color: #828094;
  }
}

.details__form-recaptcha {
  margin-bottom: 39px;
}

.details__form-btn-box {
  margin-bottom: 18px;

  .details__form-btn {
    &:first-child {
      padding: 15px 27px 14px;
      margin-right: 10px;

      &:hover {
        box-shadow: 2.736px 7.518px 56.64px 2.36px rgba(82, 208, 226, 0.64);
      }
    }

    &:last-child {
      padding: 15px 22px 14px;
      box-shadow: 2.736px 7.518px 56.64px 2.36px rgba(82, 208, 226, 0.34);
      border: 1px solid rgb(33, 205, 230);
      background-color: #F7FDFE;
      color: rgb(33, 205, 230);

      &:hover {
        box-shadow: 2.736px 7.518px 56.64px 2.36px rgba(82, 208, 226, 0.64);
      }
    }
  }
}

.details__form-agreement {
  font-size: 14px;
  color: rgb(229, 227, 227);

  span {
    color: #cdebef;
    display: inline;
  }

}

/*--details__descr-feedbacks--*/

.details__descr-feedbacks {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    padding: 15px 35px 16px;
  }
}

/*---------related-----------*/
.related {
  padding: 5.44em 0 8.99em;
}

.related__title {
  text-align: center;
  padding-bottom: 0.95em;
}

.related__items {
  max-width: 100%;
}

.related__item {
  width: 23.914%;

  img {
    max-width: 41%;
  }
}

/*----------------index-workscheme---------------*/
/*------------------workscheme-------------------*/
.workscheme {
  padding: 10px 0 124px 0;
  text-align: center;
}

.workscheme__title {
  padding-bottom: 88px;
}

.workscheme__scheme {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.workscheme__scheme-item {
  width: 100%;

  &:nth-child(1) {
    max-width: 248px;

    img {
      max-width: 90px;
      width: 100%;
    }
  }

  &:nth-child(2) {
    max-width: 238px;

    img {
      max-width: 124px;
      width: 100%;
    }
  }

  &:nth-child(3) {
    max-width: 272px;

    img {
      max-width: 129px;
      width: 100%;
    }
  }

  &:nth-child(4) {
    max-width: 242px;

    img {
      max-width: 95px;
      width: 100%;
    }
  }

  .workscheme__scheme-img {
    max-width: 100%;
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
  }

  .workscheme__scheme-title {
    font-family: 'SF UI Display Bold';
    font-weight: 700;
    line-height: 1.52em;
    @include adaptiv-font(23, 23);
    letter-spacing: 0.042em;
    color: $def-title-color;
    padding: 34px 0 18px;
  }

  .workscheme__scheme-description {
    letter-spacing: 0.050em;
    color: #828094;
  }
}


/*-------------feedback page-----------------*/
.feedback {
  padding: 30px 0 90px;
}

.feedback__title {
  text-align: center;
  padding: 0 150px 72px;
}

.feedback__inner {
  display: flex;
  justify-content: space-between;
  padding: 0 112px;
}

.feedback__tab-selectors {
  text-align: center;
  margin-right: 43px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: rgba(91, 96, 101, 0.4);
  letter-spacing: 0.07em;
  font-family: 'SF UI Display Medium';
  font-weight: 500;

}


.feedback__tab-item {
  max-width: 880px;
  width: 100%;
  display: flex;
  border-radius: 15px;
  align-items: center;

}


.feedback__item-left {
  max-width: 372px;
  width: 100%;
  text-align: center;

}

.feedback__item-person {
  background-color: #5ccdea;
  width: 372px;
  height: 305px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 77px;
  border-top-left-radius: 15px;

  .feedback__item-photo {
    padding-bottom: 17px;
  }
}

.feedback__item-description {
  height: 169px;
  background-color: #a79edc;
  padding-top: 40px;
  color: #ffffff;
  border-bottom-left-radius: 15px;

  .feedback__item-name {
    padding-bottom: 17px;
    @include adaptiv-font(20, 16);
    font-family: 'SF UI Display Bold';
    font-weight: 700;
    letter-spacing: 0.025em;
  }

  .feedback__item-position {
    line-height: 1.33em;
    color: rgba(#ffffff, 0.8);
  }
}

.feedback__item-right {
  background-color: $main-bg-color;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 80px 54px 10px 58px;
  overflow: hidden;
}

.feedback__item-title {
  margin-bottom: 20px;
  @include adaptiv-font(20, 16);
  line-height: 1.33em;
  letter-spacing: .025em;
  padding-right: 34px;
}

.feedback__item-info {
  width: 386px;
  height: 216px;
  overflow: auto;
  margin: 0;
  color: rgb(120, 120, 120);
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none;

  &::-webkit-scrollbar { /* chrome based */
    width: 0; /* ширина scrollbar'a */
    background: transparent; /* опционально */
  }
}

.rating {
  display: flex;
  //margin-bottom: 0;
  max-width: 154px;
  justify-content: space-between;
}

.rating-item {
  &::before {
    content: "\f103";
    font-family: "Flaticon";
    font-size: 25px;
    cursor: pointer;
  }
}

.rating-item-active {
  &::before {
    color: rgb(145, 210, 237);
  }
}

.feedback__item {
  display: none;
}

.feedback__item-active {
  display: flex;

}

.feedback__tab-selector {
  cursor: pointer;
  /*img {
    opacity: 0.4;
  }*/
}

.feedback__tab-photo {
  opacity: .4;
}

.tab-selected {
  //color: rgba(91, 96, 101, 1);
  opacity: 1;
}


/*-------index basket---------*/
.basket {

}

.basket__top {
  position: relative;
  margin-bottom: 32px;
}

.basket__title {
  @include adaptiv-font(45, 30);
}

.basket__print {
  position: absolute;
  top: -10px;
  right: 21px;
}

.basket__form {
  border-radius: 10px;
  background-color: rgb(163, 157, 217);
  padding: 30px 0 28px;
  margin-bottom: 15px;
}

.basket___container {
  max-width: 1119px;
  width: 100%;
  margin: 0 auto;
}

.basket__form-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket__form-promo {
  max-width: 232px;
  width: 100%;

  label,
  input[type='text'] {
    width: 100%;
  }

  span {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.7em;
    margin-bottom: 6px;
    display: block;
  }

  input[type='text'] {
    border-radius: 25px;
    padding: 15px 50px 15px 30px;
    border: none;
    outline: none;
  }

  label {
    position: relative;
  }

  button {
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: -9px;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: rgb(163, 157, 217);
    width: 36px;
    height: 36px;
  }
}

.basket__form-right {
  max-width: 625px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket__form-sum {
  span {
    color: #FFFFFF;
    font-size: 14px;

    &:last-child {
      font-size: 22px;
    }
  }

  output {
    font-size: 22px;
    display: inline-block;
    width: 98px;
    resize: none;
    outline: none;
    color: #FFFFFF;
    background-color: transparent;
    text-align: right;
  }
}

.basket__form-btn-box {
  .basket__form-btn {
    font-size: 12px;
    letter-spacing: .143em;
    padding: 15px 28.2px 14px;
    line-height: 1.86em;

    &:first-child {
      padding: 13px 21.1px 12.88px;
      border: 1.57px solid #FFFFFF;
      background-color: transparent;
      margin-right: 20px;
    }

    &:hover {
      box-shadow: 2.736px 7.518px 56.64px 2.36px rgba(82, 208, 226, 0.64);
    }
  }
}

.basket__orders {
  padding: 0 0 120px;
}

.basket__orders-list {

}

.basket__goods-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $main-bg-color;
  padding: 39px 58px 39px 75px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  .close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    &:before {
      content: "\f100";
      font-family: "Flaticon";
      font-size: 20px;
      font-weight: 100;
      color: #e5e0e0;
      position: absolute;
    }
  }
}

.basket__goods-item-img {
  img {
    max-width: 80px;
    width: 100%;
    height: 184px;
  }
}

.basket__goods-item-title-box {
  max-width: 325px;
  width: 100%;
  margin-right: 165px;

  .basket__goods-item-title {
    font-family: 'SF UI Display Bold';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: .025em;
    color: $def-title-color;
    margin-bottom: 5px;
  }

  span {
    display: block;
    color: #828094;
  }
}

.basket__goods-item-price-box {
  max-width: 100px;
  width: 100%;

  .basket__goods-item-price {
    font-family: 'SF UI Display Bold';
    font-weight: 700;
    font-size: 18px;
    color: $def-title-color;
  }

  span {
    font-size: 12px;
    color: rgb(171, 169, 180);
  }
}

.basket__goods-item-quantity {
  max-width: 136px;
  width: 100%;
  position: relative;

  .quantity {
    max-width: 104px;
    width: 100%;

    input {
      font-size: 20px;
    }
  }

  span.amount {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #aba9b4;
  }
}

.basket__goods-item-sum {
  max-width: 135px;
  width: 100%;
  text-align: right;
  font-family: 'SF UI Display Bold';
  font-weight: 700;

  span {
    color: #625e80;
    font-size: 22px;

  }

  output {
    font-size: 22px;
    display: inline-block;
    width: 74px;
    resize: none;
    outline: none;
    color: #625e80;
    background-color: transparent;
    text-align: right;
  }
}


/*-------order page---------*/
.ordered {
  padding: 0 0 202px;
}

.ordered__inner {
  padding-left: 65px;
  position: relative;
  max-width: 850px;
  width: 100%;

  &:before {
    content: '';
    display: block;
    position: absolute;
    background-image: url('../img/order-processed.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    top: 7px;
    left: 0;
    width: 35px;
    height: 35px;
  }
}

.ordered__title-box {
  margin-bottom: 35px;
}

.ordered__info {
  font-size: 14px;
  line-height: 1.57em;
  color: $grey-font-color;

  span {
    font-family: 'SF UI Display Bold';
    font-weight: 700;
    color: #58585a;
  }
}

.ordered__info_number,
.ordered__info_track-progress,
.ordered__info_methods-of-pay-delivery {
  margin-bottom: 43px;
}

.ordered__info_number-of-order,
.ordered__info_methods-of-pay {
  margin-bottom: 20px;
}

.ordered__info_btn-box {
  display: flex;
}

.ordered__info_btn-details {
  margin-right: 25px;

  a {
    padding: 11.67px 25.91px 11.67px 25.91px;
    border: 2px solid #54d9ec;

    &:hover {
      box-shadow: 2.736px 7.518px 56.64px 2.36px rgba(82, 208, 226, 0.64);
    }
  }
}

.ordered__info_btn-to-catalog {
  color: #54d9ec;

  a {
    padding: 11.67px 33.78px 11.67px 33.79px;
    background-color: transparent;
    border: 2px solid #54d9ec;

    &:hover {
      box-shadow: 2.736px 7.518px 56.64px 2.36px rgba(82, 208, 226, 0.64);
    }
  }
}


/*-----------privacy-policy page------------*/
.privacy-policy {
  padding: 0 0 90px;
}

.privacy-policy__title-box {
  margin-bottom: 40px;
}

.privacy-policy__info {
  color: $grey-font-color;
}

.privacy-policy__info_introduction {
  margin-bottom: 40px;
}

.privacy-policy__info_list {
  ul {
    /* убираем стандартную нумерацию */
    list-style: none;
    /* Идентифицируем счетчик и даем ему имя li. Значение счетчика не указано - по умолчанию оно равно 0 */
    counter-reset: li;
  }

  li:before {
    /* Определяем элемент, который будет нумероваться — li. Псевдоэлемент before указывает, что содержимое, вставляемое при помощи свойства content, будет располагаться перед пунктами списка. Здесь же устанавливается значение приращения счетчика (по умолчанию равно 1). */
    counter-increment: li;
    /* С помощью свойства content выводится номер пункта списка. counters() означает, что генерируемый текст представляет собой значения всех счетчиков с таким именем. Точка в кавычках добавляет разделяющую точку между цифрами, а точка с пробелом добавляется перед содержимым каждого пункта списка */
    content: counters(li, ".") ". ";
  }
}

.privacy-policy__info_list-title {
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }
}


/*------registration page----------*/
.registration {
  padding: 0 0 100px;
}

.registration__title-box {
  margin-bottom: 32px;
}

.registration__description {
  max-width: 779px;
  width: 100%;
  margin-bottom: 55px;
  font-size: 14px;
  line-height: 1.57em;
  color: $grey-font-color;

  a {
    color: #21cde6;
  }

  p + p {
    margin-top: 22px;
  }

  p {
    margin: 0;
  }
}

.registration__form-list,
.private-data__form-list,
.change-password__form-list {
  margin-bottom: 62px;
}

.registration__form_item,
.private-data__form_item,
.change-password__form_item,
.subscribes__form_item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 24px 0 0;
  margin-bottom: 31px;

  label {
    display: block;
    position: absolute;
    top: 0;
    left: 16px;

    font-family: 'SFUIDisplay-Light';
    font-weight: 300;
    font-size: 16px;
    color: $grey-font-color;
  }

  input {
    display: block;
    width: 515px;
    margin-right: 43px;

    outline: none;
    border: none;

    background-color: rgb(249, 248, 248);
    border-radius: 2em;

    font-family: 'SF UI Display Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.34em;
    color: $grey-font-color;
    padding: 13.34px 25px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.registration__form_description,
.private-data__form_description,
.change-password__form_description,
.subscribes__form_description {
  font-family: 'SFUIDisplay-Light';
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5em;
  color: #b8b7b7;
}

.registration__form_captcha {
  margin-bottom: 55px;
}

.registration__form_btn-box,
.private-data__form_btn-box,
.change-password__form_btn-box {
  margin-bottom: 32px;
}

.registration__form_btn {
  padding: 14.5px 31.34px;
}

.private-data__form_btn,
.change-password__form_btn {
  padding: 14.5px 32.65px;
}

.registration__form_agreement,
.private-data__form_agreement,
.change-password__form_agreement,
.subscribes__form_agreement {
  font-family: 'SF UI Display Regular';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.58em;
  color: rgb(208, 206, 206);

  a {
    display: block;
    color: #addfe6;
  }
}

.orders-profiles {
  padding-top: 50px;
}
.orders-profiles__empty {
  font-size: 22px;
  color: $grey-font-color;
}


/*-----private page-----*/
.private {
  padding: 15px 0 92px;
}

.private__title-box {
  margin-bottom: 43px;
}

.private__title {
  @include adaptiv-font(45, 30);
}

.private__content_container {
  display: grid;
  grid-template-areas: 'private__sidebar private__content';
  grid-template-columns: 254px 927px;
  grid-template-rows: auto;
  column-gap: 59px;
}

.private__sidebar {
  grid-area: private__sidebar;
}

.private__content {
  grid-area: private__content;
}

.private__sidebar-menu {
  padding: 53px 10px 53px 53px;
  margin-bottom: 30px;
  background-color: rgb(246, 244, 248);
  border-radius: 15px;
}

.private__sidebar-menu-inner {
  li {
    margin-bottom: 50px;
    font-family: 'SF UI Display Medium';
    font-weight: 500;
    color: #7d7a95;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: #4ed7eb;
    }
  }

  .sidebar-menu-active {
    color: #4ed7eb;
  }
}

.login-out {

  position: relative;
  padding-left: 21px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    background-image: url('../img/arrow-left.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 6px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  &:hover {
    color: #4ed7eb;
  }
}

.private__sidebar-subscribe {
  padding: 36px 37px 35px 35px;
  background-color: rgb(78, 215, 235);
  border-radius: 15px;
  color: #ffffff;
  text-align: center;
}

.private__sidebar-subscribe-form_inner {
  position: relative;

  label {
    display: block;
    font-family: 'SF UI Display Bold';
    font-weight: 700;
    font-size: 22px;
    line-height: 1.6em;
    letter-spacing: 0.042em;
    margin-bottom: 24px;
  }

  input {
    padding: 18px 40px 18px 18px;
    display: block;
    width: 100%;
    border-radius: 2em;
    outline: none;
    border: none;

    font-family: 'SF UI Display Regular';
    font-weight: 400;
    font-size: 16px;
    color: $grey-font-color;

    &::placeholder {
      color: #a2a1ae;
    }
  }

  button {
    position: absolute;
    bottom: 22px;
    right: 18px;
    height: 13px;

    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;

  }
}

.private__content-list {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  li {
    max-width: 289px;
    width: 100%;
    padding: 61px 0;
    text-align: center;

    border-radius: 15px;
    background-color: rgb(163, 157, 217);

    font-family: 'SF UI Display Medium';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.28em;
    color: #ffffff;

    margin-bottom: 30px;

    &:hover {
      transform: scale(1.02);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.private__content-item_inner {
  .private__content-item_inner-img {
    max-width: 100%;
    width: 100%;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 27px;
  }
}

.private__orders-without {
  .private__orders-without_title-box {
    font-size: 22px;
    color: $grey-font-color;
    margin-bottom: 45px;
    line-height: 1.5em;
  }

  .private__orders-without_links {
    li {
      font-size: 14px;
      line-height: 1.57em;
      color: #4ed7eb;

      a {
        position: relative;
        padding-right: 40px;

        &:after {
          content: '';
          display: block;
          position: absolute;

          background-image: url('../img/arrow-right-blue.png');
          background-size: cover;
          background-repeat: no-repeat;

          width: 18px;
          height: 13px;
          right: 0;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
    }

    li + li {
      margin-top: 30px;
    }
  }
}

.subscribes {
  padding-top: 52px;
}

.subscribes__user-owner-box {
  display: flex;
  margin-bottom: 35px;
}


.subscribes__user-name {
  color: #b2b0b0;
  margin-right: 58px;
  display: block;
  max-width: 441px;
  width: 100%;
  letter-spacing: .060em;


  .user-date {
    font-family: 'SF UI Display Bold';
    font-weight: 400;
    display: inline-block;

  }
}

.subscribes__user_change-user {
  font-family: 'SFUIDisplay-Light';
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5em;
  color: #b8b7b7;
  a {
    color: #75d6e4;
  }
}

.subscribes__form {

}

.subscribes__form_title-box {
  font-size: 22px;
  color: $grey-font-color;
  margin-bottom: 35px;
}

.subscribes__form_item {

  input {
    margin-right: 58px;
    width: 441px;
  }
}

.subscribes__form_description {
  max-width: 346px;
  width: 100%;
}

.subscribes__form_checkbox-inner {
  padding-left: 18px;
  font-family: 'SFUIDisplay-Light';
  font-weight: 300;
  color: $grey-font-color;
  margin-bottom: 60px;
}

.subscribes__form_subscriptions-categories,
.subscribes__form_subscriptions-format {
  margin-bottom: 33px;
}

.subscribes__form_subscriptions-categories-title,
.subscribes__form_subscriptions-format-title {
  margin-bottom: 20px;
  font-size: 16px;
}

.categories__radio,
.format__radio {
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;

  .categories__input,
  .format__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
  }

  .categories__label,
  .format__label {
    font-size: 14px;
    cursor: pointer;
    padding-left: 36px;

    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;

      border: 1px solid #e8e8e8;
      border-radius: 50%;

      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      z-index: 1;
    }

    &:after {
      content: '';
      display: block;

      background-color: transparent;

      opacity: 0;
      transition: opacity .1s;

      position: absolute;
      top: 50%;
      left: 4px;
      transform: translate(0, -50%);
      z-index: 2;
    }
  }
}

.categories__input:checked + .categories__label:before,
.format__input:checked + .format__label:before {
  background-color: rgb(163, 157, 217);
  border: 2px solid rgb(163, 157, 217);
}

.categories__input:checked + .categories__label:after,
.format__input:checked + .format__label:after {
  opacity: 1;

  font-family: "Flaticon";
  content: "\f10a";
  color: #ffffff;
  font-size: 12px;
}

.categories__radio {
  &:first-child {
    margin-bottom: 20px;
  }
}

.format__radio {
  display: inline;

  &:first-child {
    margin-right: 44px;
  }
}

.subscribes__form_btn-box {
  display: flex;
  margin-bottom: 32px;
}

.subscribes__form_btn-add {
  margin-right: 25px;

  .form__btn {
    padding: 14.17px 26.36px;

    &:hover,
    &:active {
      box-shadow: 2.736px 7.518px 56.64px 2.36px rgba(82, 208, 226, 0.64);
    }
  }
}

.subscribes__form_btn-cancel {
  a {
    color: #54d9ec;
    padding: 12.17px 25.62px;
    background-color: transparent;
    border: 2px solid #54d9ec;

    &:hover,
    &:active {
      box-shadow: 2.736px 7.518px 56.64px 2.36px rgba(82, 208, 226, 0.64);
    }
  }
}

/*contacts*/
.contacts__contacts_top,
.contacts__contacts_bottom {
  margin-bottom: 40px;
  font-family: 'SF UI Display Medium';
  font-weight: 500;
  color: #4a4665;
}

.contacts__contacts_top-phone,
.contacts__contacts_top-email {
  display: inline;
  a {
    position: relative;

    &:before {
      display: block;
      position: absolute;
      font-family: "Flaticon";
      font-size: 28px;
      color: #4ed7eb;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}

.contacts__contacts_top-phone {
  font-size: 16px;
  margin-right: 153px;

  a {
    padding-left: 50px;

    &:before {
      content: "\f106";
    }
  }
}

.contacts__contacts_top-email {
  font-size: 18px;

  a {
    padding-left: 58px;

    &:before {
      content: "\f10b";
    }
  }
}

.contacts__map {
  margin-bottom: 37px;
}


.contacts__contacts_bottom {
  display: flex;
  margin-bottom: 36px;
}

.contacts__contacts_bottom-contact {
  margin-right: 77px;
}

.contacts__contacts_bottom-address,
.contacts__contacts_bottom-work-time {
  position: relative;
  padding-left: 40px;

  &:before {
    display: block;
    position: absolute;
    font-family: "Flaticon";

    color: #4ed7eb;

    top: 50%;
    transform: translate(0, -50%);
  }
}

.contacts__contacts_bottom-address {
  margin-bottom: 30px;

  &:before {
    content: "\f107";
    font-size: 29px;
    left: -2px;
  }
}

.contacts__contacts_bottom-work-time {
  color: #5b6065;

  &:before {
    content: "\f108";
    font-size: 24px;
    left: 0;
  }
}

.contacts__payment-methods {
  display: flex;
}

.contacts__payment-methods_title,
.contacts__payment-methods_cash,
.contacts__payment-methods_mastercard {
  margin-right: 14px;
}

.contacts__payment-methods_cash {
  color: #707478;
}

.contacts__payment-methods_content {
  /*display: flex;*/
  position: relative;
  padding-right: 124px;

  img {
    position: absolute;
  }

  .mastercard {
    right: 62px;
    top: -3px;
  }

  .visa {
    right: 0;
    top: 2px;
  }
}

.contacts__contacts_requisites {
  font-size: 16px;
}

.contacts__contacts_requisites-title {
  color: #707478;
  margin-bottom: 35px;
}

.contacts__contacts_requisites-list {
  color: #b2b0b0;
}

@import "media";
